/*----------------------------
*** MEDIA-QUERY 
** Break points-
* 0 - 600px: phone,
* 600px - 769px : ipad,
* 769px - 1040px: ipad-pro,
* 1040px - 1280px : laptop,
* 1280px > : large -screen 
------------------------------
*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
a.popup-dialog,
.action-button {
  height: 4.5rem !important;
  line-height: 4.3rem;
  padding: 0 1.5rem !important;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  box-sizing: border-box;
  box-shadow: none !important;
  border: none !important;
  color: #ffffff !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important; }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover,
  .button:hover,
  a.popup-dialog:hover,
  .action-button:hover {
    -webkit-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08), 0 20px 20px rgba(0, 0, 0, 0.08) !important;
    -moz-box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08), 0 20px 20px rgba(0, 0, 0, 0.08) !important;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08), 0 4px 20px rgba(0, 0, 0, 0.08) !important; }

.button,
button[type="submit"],
input[type="submit"] {
  background-color: #51c53e !important; }

.button:hover,
button[type="submit"]:hover,
input[type="submit"]:hover {
  background-color: #36bc21 !important; }

button.red,
input[name="cancel"],
input.close {
  background-color: #df554a;
  color: #ffffff; }
  button.red:hover,
  input[name="cancel"]:hover,
  input.close:hover {
    background-color: rgba(223, 85, 74, 0.9) !important;
    color: #ffffff !important; }

button[type="reset"],
button[name="reset"],
input[type="reset"],
input[type="reset"],
a.popup-dialog,
.action-button {
  background: #666666 !important;
  background-color: #666666 !important;
  color: #ffffff !important; }
  button[type="reset"]:hover,
  button[name="reset"]:hover,
  input[type="reset"]:hover,
  input[type="reset"]:hover,
  a.popup-dialog:hover,
  .action-button:hover {
    background-color: rgba(102, 102, 102, 0.9) !important;
    color: #ffffff !important; }
  button[type="reset"] i,
  button[name="reset"] i,
  input[type="reset"] i,
  input[type="reset"] i,
  a.popup-dialog i,
  .action-button i {
    margin-top: 8px !important;
    border-left: none !important; }

.sticky.bar .pull-right button,
.sticky.bar .pull-right input[type="button"],
.sticky.bar .pull-right input[type="reset"],
.sticky.bar .pull-right input[type="submit"],
.sticky.bar .pull-right .button,
.sticky.bar .pull-right a.popup-dialog,
.sticky.bar .pull-right .action-button {
  height: 3rem !important;
  line-height: 3rem !important;
  margin-top: 5px; }
  .sticky.bar .pull-right button i,
  .sticky.bar .pull-right input[type="button"] i,
  .sticky.bar .pull-right input[type="reset"] i,
  .sticky.bar .pull-right input[type="submit"] i,
  .sticky.bar .pull-right .button i,
  .sticky.bar .pull-right a.popup-dialog i,
  .sticky.bar .pull-right .action-button i {
    margin-top: 3px !important;
    border-left: none !important;
    padding-top: 3px; }

button.red {
  background-color: #df554a !important; }

button.green,
.button.green {
  background-color: #51c53e !important; }
  button.green:hover,
  .button.green:hover {
    background-color: #36bc21 !important; }

input,
select,
.select2-selection,
textarea,
.redactor-styles {
  padding: 1rem 1rem !important;
  height: 4.5rem !important;
  outline: none;
  border: 1px solid #e2e5e8 !important;
  border-bottom-color: #51c53e !important;
  color: #333;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important; }
  input:focus,
  select:focus,
  .select2-selection:focus,
  textarea:focus,
  .redactor-styles:focus {
    border-color: #51c53e !important; }

input[type="text"],
input[type="email"] {
  min-width: 50%; }
  @media (max-width: 37.5em) {
    input[type="text"],
    input[type="email"] {
      min-width: none; } }

input[type="tel"],
input[size="5"] {
  min-width: auto;
  width: 25rem; }

input[type="radio"],
input[type="checkbox"] {
  height: auto !important;
  line-height: auto !important;
  min-width: auto;
  margin-right: 5px; }

.redactor-styles-on {
  border: none !important; }

.redactor-styles {
  height: auto !important;
  width: 100% !important;
  max-width: 100% !important;
  margin-bottom: 1rem !important; }

select,
.select2-selection {
  min-width: 20%; }
  @media (max-width: 37.5em) {
    select,
    .select2-selection {
      min-width: none; } }

.select2-selection[role="combobox"] {
  padding: 0 !important; }

ul.select2-selection__rendered input {
  border: none !important;
  margin-top: 0 !important;
  padding: 0 !important; }

.dialog input[size="5"] {
  min-width: auto;
  width: 15rem; }

#overlay {
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1; }

.dialog {
  position: fixed;
  z-index: 2555;
  background-color: #ffffff;
  box-shadow: none !important;
  border: none !important;
  min-width: 30%;
  max-width: 80%;
  padding: 3rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px; }
  .dialog .buttons {
    padding: 1rem 0;
    display: inline-block; }
  .dialog input[type="button"],
  .dialog button {
    height: 4.5rem !important;
    line-height: 4.5rem !important; }
  .dialog input[type="button"],
  .dialog button {
    height: 4.5rem !important; }
  .dialog input[value="Yes, Do it!"] {
    background-color: #df554a;
    color: #ffffff;
    width: auto;
    min-width: auto; }
  .dialog input[value="OK"] {
    background-color: #55c1ff;
    width: auto;
    min-width: auto; }
  .dialog input[value="No, Cancel"] {
    background-color: #666666;
    width: auto;
    min-width: auto; }
  .dialog ul.tabs {
    border: 0;
    box-shadow: none !important;
    height: auto; }
    .dialog ul.tabs li {
      height: auto;
      box-shadow: none !important;
      border: none !important;
      border-radius: 0 !important;
      background: none !important; }
      .dialog ul.tabs li a {
        padding: 1.6rem 1.5rem;
        font-size: 1.6rem; }
  .dialog h3 {
    padding-bottom: 1.5rem;
    padding-right: 0; }
  .dialog hr {
    margin-bottom: 1rem; }
  .dialog .span12 {
    padding-left: 0;
    padding-right: 0; }
  .dialog .avatar {
    margin: 0 1rem 1rem 0 !important; }
  .dialog caption {
    padding: 0;
    margin-bottom: 1rem; }

.select2-container .select2-dropdown {
  z-index: 566666666; }

#container {
  position: relative;
  width: 100%;
  min-height: 95vh;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }

#footer {
  min-height: 5vh;
  background-color: #e2e5e8;
  position: absolute;
  width: 100%;
  padding: 3rem 0; }
  #footer p {
    font-size: 1.7rem;
    color: #000; }
  #footer #poweredBy {
    display: none !important; }

.table,
table {
  width: 100% !important;
  border-collapse: collapse; }
  .table td,
  .table th,
  table td,
  table th {
    padding: 1rem !important;
    vertical-align: middle !important; }
    .table td hr,
    .table th hr,
    table td hr,
    table th hr {
      display: none; }
    .table td img,
    .table th img,
    table td img,
    table th img {
      box-shadow: none !important; }
  .table td,
  table td {
    border: 1px solid #e2e5e8 !important; }
  .table th,
  table th {
    background-color: #000 !important;
    color: #ffffff !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    font-size: 1.7rem !important; }
    .table th a,
    .table th p,
    .table th span,
    .table th em,
    table th a,
    table th p,
    table th span,
    table th em {
      color: #ffffff !important; }
    .table th a.desc,
    .table th a.asc,
    table th a.desc,
    table th a.asc {
      background-color: transparent !important; }

#ticketTable caption {
  background-color: #36bc21;
  color: #ffffff;
  border: none; }

table.ticket_info > tbody > tr > td {
  border: none;
  background-color: #f8f8f8; }

.tip_box table th,
table td th {
  background-color: #eee !important;
  color: #333 !important;
  border: 1px solid #e2e5e8 !important; }
  .tip_box table th em,
  table td th em {
    color: #333 !important; }

.tip_box table td {
  padding: 1rem;
  border: 1px solid #e2e5e8 !important; }

table.list {
  background-color: #eee; }

form p,
form .buttons {
  text-align: left !important; }

form p {
  margin-top: 1.5rem; }

form table {
  margin-bottom: 1rem; }

form#task_note .redactor-styles,
form#task_reply .redactor-styles,
form#reply .redactor-styles {
  max-width: 100% !important; }

#ui-datepicker-div {
  border: 1px solid #e2e5e8;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  padding: 1rem;
  z-index: 666666 !important; }
  #ui-datepicker-div button {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    color: #ffffff; }
    #ui-datepicker-div button.ui-datepicker-current {
      background-color: #666666; }
    #ui-datepicker-div button.ui-datepicker-close {
      background-color: #55c1ff; }

table.ui-datepicker-calendar th {
  padding: 0.7em 0.3em !important;
  text-align: center !important;
  font-weight: bold !important;
  border: 0 !important;
  background: transparent !important; }
  table.ui-datepicker-calendar th span {
    color: #333 !important; }

table.ui-datepicker-calendar td {
  border: 0;
  padding: 1px !important;
  border: none !important; }

#ticketThread .header,
#ticketThread .thread-body,
#task_thread_container .header,
#task_thread_container .thread-body {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0; }

#ticketThread .thread-body,
#task_thread_container .thread-body {
  border-bottom-width: 3px !important;
  border-bottom-color: #aaa !important;
  min-height: 9.5rem; }
  #ticketThread .thread-body p,
  #task_thread_container .thread-body p {
    line-height: 2.2rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.7rem; }

#ticketThread .thread-entry.message .header,
#task_thread_container .thread-entry.message .header {
  background-color: #51c53e;
  color: #ffffff; }

#ticketThread .thread-entry.message .header,
#ticketThread .thread-entry.message .thread-body,
#task_thread_container .thread-entry.message .header,
#task_thread_container .thread-entry.message .thread-body {
  border: 1px solid #51c53e; }

#ticketThread .thread-entry.message .header:after, #ticketThread .thread-entry.message .header:before, #ticketThread .thread-entry.message .header::before, #ticketThread .thread-entry.message .header::after,
#task_thread_container .thread-entry.message .header:after,
#task_thread_container .thread-entry.message .header:before,
#task_thread_container .thread-entry.message .header::before,
#task_thread_container .thread-entry.message .header::after {
  border-left-color: #51c53e !important;
  border-right-color: #51c53e !important; }

#ticketThread .thread-entry.response .header,
#ticketThread .thread-entry.response .thread-body,
#task_thread_container .thread-entry.response .header,
#task_thread_container .thread-entry.response .thread-body {
  border: 1px solid #ffe0b3; }

#ticketThread .thread-entry.response .header,
#task_thread_container .thread-entry.response .header {
  background-color: #ffe0b3 !important; }
  #ticketThread .thread-entry.response .header:after, #ticketThread .thread-entry.response .header:before, #ticketThread .thread-entry.response .header::before, #ticketThread .thread-entry.response .header::after,
  #task_thread_container .thread-entry.response .header:after,
  #task_thread_container .thread-entry.response .header:before,
  #task_thread_container .thread-entry.response .header::before,
  #task_thread_container .thread-entry.response .header::after {
    border-left-color: #ffe0b3 !important;
    border-right-color: #ffe0b3 !important; }

#ticketThread blockquote p,
#task_thread_container blockquote p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  line-height: 2.2rem;
  color: #000; }

.tip_box .tip_content {
  border: 1px solid #e2e5e8; }

.tip_box table {
  margin-bottom: 1rem; }

.tip_box ul.tabs li a {
  padding: 1rem; }

.tip_box hr {
  display: none; }

.tip_box .tip_menu {
  border-top: none; }

.tip_box .floating-options {
  top: 1.7rem; }

.warning-banner {
  height: auto;
  padding: 1rem 1rem 1rem 4rem; }

.file {
  height: auto !important; }

.message.bar {
  padding-left: 5rem !important; }
  .message.bar .avatar {
    display: none; }
  .message.bar body {
    margin-left: 0 !important; }

html {
  /**
      * size is measure in the basis of REMs, (pretty easier for responsive layout)
      * default font size 16px = 100% (i.e 1rem = 16px)
      * here default font size set to 62.5%, (i.e 1rem = 10px),
      * this makes easier to calculate rem in the basis of 10px = 1rem,
      * e.g 13px = (13/10)rem = 1.3rem  ( >> this is super easy then calcualte 13px = 13/16 = 0.8125rem )
         */
  font-size: 62.5;
  /* 1 */
  -webkit-text-size-adjust: 62.5;
  /* 2 */
  -ms-text-size-adjust: 62.5;
  /* 2 */
  box-sizing: border-box; }
  @media (min-width: 115em) {
    html {
      font-size: 62.5%; } }
  @media (max-width: 115em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 65em) {
    html {
      font-size: 46.88%; } }
  @media (max-width: 49em) {
    html {
      font-size: 43.75%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 40%; } }

body {
  position: relative;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 2.5rem;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

main {
  position: relative; }

/* Box sizing rules */
*,
*::before,
*::after,
body,
html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  margin: 0;
  padding: 0; }

::-webkit-input-placeholder {
  /* Edge */ }

:-ms-input-placeholder {
  /* Internet Explorer */ }

/* Remove default padding */
/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class],
* {
  padding: 0;
  list-style: none; }

img {
  width: auto; }

h1 {
  line-height: 4rem; }

a,
.link {
  max-height: none !important;
  max-width: none !important;
  text-decoration: none;
  color: inherit;
  margin: 0; }
  a:hover,
  .link:hover {
    color: #51c53e;
    border-bottom: none; }

a.field-config {
  margin-left: 2rem; }

hr {
  margin: 1rem 0; }

#warning_bar {
  display: none; }

#loginBody {
  background-color: #f7f9fa; }
  #loginBody #brickwall,
  #loginBody #blur {
    display: none; }
  #loginBody #loginBox {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    background-color: #ffffff;
    width: 30% !important;
    left: 50% !important;
    top: 50% !important;
    margin: 0 !important;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    padding: 4rem; }
    @media (max-width: 65em) {
      #loginBody #loginBox {
        width: 95% !important; } }
    #loginBody #loginBox::after {
      content: none; }
    #loginBody #loginBox form {
      width: 100%; }
      #loginBody #loginBox form fieldset {
        margin: 0; }
      #loginBody #loginBox form input,
      #loginBody #loginBox form button {
        width: 100%; }
    #loginBody #loginBox #logo a {
      display: block;
      height: auto; }
    #loginBody #loginBox #login-message {
      font-size: 1.6rem;
      color: #333; }
    #loginBody #loginBox h3 {
      margin-bottom: 1rem;
      display: block !important; }
  #loginBody #company .content {
    background-color: transparent;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    color: #333;
    text-shadow: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important; }

#poweredBy {
  display: none !important; }
