// PRIMARY
$color-primary--1: #51c53e;
$color-primary--2: #36bc21;

// SECONDARY
$color-secondary--1: #ffe400;

// SUPPORT
$color-support--1: #55c1ff;
$color-support--2: #666666;

// BEST
$color-best--1: #ffffff;
$color-best--2: #f7f9fa;
$color-best--3: #e2e5e8;
$color-best--4: #eee;

// DARK
$color-dark--1: #000;
$color-dark--2: #333;

// DANGER
$color-danger--1: #df554a;
