@font-face {
    font-family: "rubikRegular";
    src: url("./../../../assets/font/rubik/Rubik-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "rubikMedium";
    src: url("./../../../assets/font/rubik/Rubik-Medium.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "rubikBold";
    src: url("./../../../assets/font/rubik/Rubik-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
