// CLIENT HEADER
#header {
    padding: 0 10%;
    height: auto;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-between;
    #logo {
        display: inline-block;
        width: 20rem;
        height: auto;
        line-height: 0;
        img {
            max-height: none;
            max-width: 33rem;
            width: auto;
            height: auto;
            vertical-align: middle;
        }
    }
    a:hover {
        border-bottom: none;
    }
    .pull-right,
    .flush-right {
        display: flex;
        justify-content: flex-end;
        p {
            width: auto;
            margin: 0;
            display: flex;
            align-items: center;
            color: $color-best--1;
            padding: 1rem 2rem;

            &:first-child {
                background-color: $color-primary--1;
                margin-right: 5px;
                color: $color-secondary--1;
                font-weight: 500;
                a {
                    margin-left: 1rem;
                    color: $color-best--1;
                    font-weight: 400;
                    position: relative;
                    &:hover {
                        &::after {
                            content: "";
                            height: 1px;
                            width: 100%;
                            background-color: $color-dark--2;
                            position: absolute;
                            top: 100%;
                            left: 0;
                        }
                    }
                }
            }
            &:last-child {
                background-color: $color-dark--2;
            }
            a {
                position: relative;
                margin-right: 2rem;
                &::after {
                    content: "";
                    height: 2rem;
                    width: 1px;
                    background-color: rgba(255, 255, 255, 0.3);
                    top: 50%;
                    right: -1rem;
                    position: absolute;
                    @include transform(translate(0, -50%));
                }
                &:last-child {
                    margin-right: 0;
                    &::after {
                        content: none;
                    }
                }
            }
        }
    }
}
// CLIENT NAVIGATION
ul#nav {
    margin: 0;
    padding: 1.5rem 10%;
    background: $color-dark--2;
    border: none;
    box-shadow: none !important;
    height: auto;

    li {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline;
        margin-right: 1rem;
        a {
            text-transform: uppercase;
            height: auto;
            display: inline-block;
            border: 0;
            color: $color-best--1;
            margin: 0;
            line-height: 0;
            padding: 0 1rem 0 3.5rem;
            height: 5rem;
            line-height: 5rem;
            position: relative;
            @include borderRadious(0);

            &.active,
            &:hover {
                background-color: $color-dark--1;
                color: $color-best--1;
            }
        }
    }
}
