// CLIENT HEADER
#header {
    padding: 1.5rem 10%;
    height: auto;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-between;
    @include respond-mediaQuery(laptop) {
        padding: 0 5%;
    }
    @include respond-mediaQuery(phone) {
        flex-flow: column;
        flex-flow: column-reverse;
        padding-bottom: 1rem;
    }
    #logo {
        display: inline-block;
        width: 20rem;
        height: auto;
        line-height: 0;
        @include respond-mediaQuery(phone) {
            width: auto;
        }
        img {
            max-height: none;
            max-width: 33rem;
            width: auto;
            height: auto;
            vertical-align: middle;
            width: 100%;
        }
    }
    a:hover {
        border-bottom: none;
    }
    .pull-right,
    .flush-right {
        display: flex;
        justify-content: flex-end;
        p {
            width: auto;
            margin: 0;
            display: flex;
            align-items: center;
            color: $color-best--1;
            padding: 1rem 2rem;

            &:first-child {
                background-color: $color-primary--1;
                margin-right: 5px;
                color: $color-secondary--1;
                font-weight: 500;
                a {
                    margin-left: 1rem;
                    color: $color-best--1;
                    font-weight: 400;
                    position: relative;
                    &:hover {
                        &::after {
                            content: "";
                            height: 1px;
                            width: 100%;
                            background-color: $color-dark--2;
                            position: absolute;
                            top: 100%;
                            left: 0;
                        }
                    }
                }
            }
            &:last-child {
                background-color: $color-dark--2;
            }
            a {
                position: relative;
                margin-right: 2rem;
                &::after {
                    content: "";
                    height: 2rem;
                    width: 1px;
                    background-color: rgba(255, 255, 255, 0.3);
                    top: 50%;
                    right: -1rem;
                    position: absolute;
                    @include transform(translate(0, -50%));
                }
                &:last-child {
                    margin-right: 0;
                    &::after {
                        content: none;
                    }
                }
            }
        }
    }
}

// CLIENT NAVIGATION
ul#nav {
    margin: 0;
    padding: 1.5rem 10%;
    background: $color-dark--2;
    border: none;
    box-shadow: none !important;
    height: auto;
    @include respond-mediaQuery(ipad) {
        display: flex;
        flex-flow: row wrap;
        padding: 5px;
    }
    li {
        margin: 0;
        padding: 0;
        list-style: none;
        display: inline;
        margin-right: 1rem;
        a {
            text-transform: uppercase;
            height: auto;
            display: inline-block;
            border: 0;
            color: $color-best--1;
            margin: 0;
            line-height: 0;
            padding: 0 1rem 0 3.5rem;
            height: 5rem;
            line-height: 5rem;
            position: relative;
            @include borderRadious(0);

            &.active,
            &:hover {
                background-color: $color-dark--1;
                color: $color-best--1;
            }
            @include respond-mediaQuery(ipad) {
                padding-left: 6rem;
            }
        }
    }
}

//  BODY
#content {
    margin: 0;
    padding: 3rem 10%;
    @include respond-mediaQuery(laptop) {
        padding: 3rem 5%;
    }
    .form-header {
        background-color: $color-support--2;
        background-color: $color-primary--2;
        color: $color-best--1;
        padding: 1rem 1.5rem;
    }

    h1 {
        color: $color-dark--1;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .content {
        padding: 0;
        border: none;
        background-color: transparent;
    }
    .sidebar {
        width: 100%;
        .searchbar {
            margin-bottom: 2rem;
        }
        @include respond-mediaQuery(ipad) {
            margin: 0;
        }
        section {
            border: 0;
            padding: 2rem;
            border: 1px solid #eee;
            background-color: #f2f2f2 !important;

            .header {
                margin-bottom: 5px;
                position: relative;
                padding-left: 2rem;
                margin-bottom: 1rem;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                padding-bottom: 1rem;
                position: relative;
                &:before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 37%;
                    width: 5px;
                    height: 2rem;
                    background-color: #51c53e;
                    @include transform(translate(0, -50%));
                }
            }
            a {
                display: inline-block;
                width: 100%;
                border-bottom: 1px solid rgba($color-danger--1, 0.1);
                padding: 1rem 0;
                margin-bottom: 0;
                &:hover {
                    color: $color-primary--1;
                }
            }
            div:last-child {
                a {
                    border-bottom: none;
                }
            }
        }
    }
    #landing_page {
        display: flex;
        flex-flow: row-reverse;
        align-items: flex-start;
        justify-content: space-between;
        @include respond-mediaQuery(ipad) {
            flex-flow: column-reverse;
            br {
                display: none;
            }
        }

        .sidebar {
            width: 30%;
            @include respond-mediaQuery(ipad) {
                width: 100%;
            }
            .front-page-button {
                display: none;
                margin: 0 0 1rem 0;
            }
        }
        .main-content {
            width: 70%;
            @include respond-mediaQuery(ipad) {
                width: 100%;
            }
            .search-form {
                padding: 2rem;
                background-color: rgba($color-best--3, $alpha: 0.6);
                form {
                    display: flex;
                    align-items: center;
                    padding: 0;
                    margin: 0;
                }
                input[type="text"] {
                    width: 80%;
                }
                button {
                    width: 20%;
                    padding-left: 2rem;
                }
            }
        }
        .thread-body {
            padding: 2rem 0;
            h1 {
                font-size: 4rem;
                margin-bottom: 3rem;
            }
            p {
                font-size: 1.7rem;
                line-height: 2.5rem;
                margin-bottom: 2rem;
            }
        }
    }

    #breadcrumbs {
        background-color: $color-dark--2;
        color: $color-primary--1;
        padding: 1.5rem 2rem !important;
        font-size: 3rem;
        display: flex;
        align-items: center;
        a {
            margin: 5px;
            color: $color-best--1;
            font-size: 1.7rem;
            &:hover {
                color: $color-primary--1;
            }
        }
    }
    .buttons {
        text-align: left !important;
    }
    .span8,
    .span4 {
        @include respond-mediaQuery(ipad) {
            width: 100%;
            margin: 0 0 1rem 0;
        }
    }
}

// KNOWLEDGE BASED
ul#kb {
    margin-bottom: 3rem;
    li {
        background: none !important;
    }
    h4 {
        a {
            font-size: 1.7rem !important;
        }
    }
    div[style="padding-bottom:15px;"] {
        display: none;
    }
    .popular-faq {
        border-bottom: 1px solid rgba($color-dark--1, 0.08);
        display: flex;
        align-items: center;
        &:last-child {
            border-bottom: none;
        }

        a {
            flex: 1;
            padding: 1rem 0;
        }
        i {
            margin-right: 1rem;
        }
    }
}
#faq {
    padding: 1rem 0;
    margin-top: 5px;
    ol {
        border-top: none;
        margin: 0;
        padding: 0;
        li {
            a {
                padding: 1rem 1rem 1rem 3rem;
                color: $color-dark--2;
                font-size: 1.7rem;
                border-bottom-color: rgba($color-dark--1, $alpha: 0.05);
            }
            &:last-child {
                a {
                    border-bottom: none;
                }
            }
        }
    }
}
.faq-content {
    margin-bottom: 2rem;
    .faded {
        font-size: 1.4rem;
        font-style: italic;
    }
    .thread-body p {
        font-size: 1.6rem;
        line-height: 2rem;
    }
}

// OPEN A NEW TICKET
#ticketForm {
    background-color: rgba($color-best--3, $alpha: 0.4);
    padding: 3rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
}
#ticketInfo h1 {
    border-bottom: none;
}
// CHECK TICKET STATUS
form#clientLogin {
    background-color: rgba($color-best--3, $alpha: 0.4);
    padding: 3rem;
    border: none;
    @include borderRadious(0);
    @include boxShadow(none);
    & > div {
        display: flex !important;
        @include respond-mediaQuery(phone) {
            display: flex;
            flex-flow: column;
        }
    }
    @include respond-mediaQuery(ipad) {
        background-image: none;
    }
    .login-box {
        width: 40%;
        border-right: 1px solid rgba($color: #000000, $alpha: 0.09);
        @include boxShadow(none);
        padding: 0 3rem 0 0;
        input {
            width: 100% !important;
        }
    }
    a {
        padding: 1rem;
        margin: 1rem 0 0 1rem;
        border: 1px solid $color-primary--1;
        color: $color-primary--1;
        display: inline-block;
        &:hover {
            background-color: $color-primary--1;
            color: $color-best--1;
            margin: 1rem 0 0 1rem;
        }
    }
    .instructions {
        width: 50%;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        @include respond-mediaQuery(phone) {
            background-color: $color-best--1;
            padding: 1.5rem !important;
            margin-top: 1rem;
        }
    }
    .login-box,
    .instructions {
        @include respond-mediaQuery(phone) {
            width: 100%;
            margin-bottom: 1rem;
            padding-right: 0;
            border-right: 0;

            a {
                width: 100%;
                margin-left: 0;
                text-align: center;
            }
        }
    }
}

// TICKETS
#content #ticketSearchForm {
    padding: 0 !important;
    margin: 0;
    display: flex;
    align-items: center;
    .pull-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex: 1;
        @include respond-mediaQuery(phone) {
            float: none !important;
            width: 100%;
            justify-content: flex-start;
            select {
                flex: 1;
            }
        }
    }
    @include respond-mediaQuery(phone) {
        display: block;
        input {
            width: 100% !important;
            flex: 1;
            margin-bottom: 1rem;
        }
    }
}

// BUTTONS - INPUT
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button,
a.popup-dialog,
.action-button {
    height: 5rem !important;
    line-height: 4.8rem !important;
}

input,
select,
.select2-selection,
textarea,
.redactor-styles {
    height: 5rem !important;
}
input[type="text"],
input[type="email"],
input[type="tel"] {
    @include respond-mediaQuery(phone) {
        width: 100%;
    }
}
input[type="tel"] {
    @include respond-mediaQuery(phone) {
        margin-bottom: 1rem;
    }
}
