// HEADER
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row-reverse;
    padding: 1.5rem 4%;
    height: auto;
    a {
        padding: 0;
    }
    #logo {
        height: auto;

        img {
            max-height: 8rem;
        }
    }
    p,
    .no-pjx,
    .pull-right {
        margin: 0;
        max-width: none !important;
        background-color: $color-dark--2;
        color: $color-best--1;
        a {
            color: $color-best--1;
            padding: 5px 1rem;
        }
    }
}

// NAVIGAITON
ul#nav {
    background-color: $color-dark--2;
    height: auto;
    line-height: auto;
    border: none;
    padding: 0 3rem;
    a {
        color: $color-best--1 !important;
    }
    li {
        border: none !important;
        height: auto !important;
        @include boxShadow(none !important);
    }
    & > li > a {
        padding: 2rem 1rem;
    }
    li.active,
    li.inactive:hover {
        height: auto;
        background-color: $color-primary--1;
        border: none !important;
        @include boxShadow(none);
        @include borderRadious(0 !important);
    }
    & > li > ul {
        border-bottom: none !important;
        background-color: $color-primary--2 !important;
        border: none !important;
        @include boxShadow(none !important);
        padding: 1rem !important;
        li {
            display: flex;
            align-items: center;
            flex-flow: row-reverse;
            border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1) !important;
            span {
                color: $color-secondary--1;
            }
            &:hover {
                background-color: $color-primary--1 !important;
            }
            &:last-child {
                border-bottom: none !important;
            }
        }
    }
}
nav#customQ_nav {
    width: 100% !important;
    height: 6rem !important;
}
ul#sub_nav {
    background-color: $color-primary--1;
    border: none !important;
    padding: 0 2rem;
    line-height: initial;
    height: 6rem !important;
    li {
        border: none !important;
        height: auto !important;
        padding: 0 !important;
        @include boxShadow(none !important);
        @include borderRadious(0 !important);
        a {
            color: $color-best--1 !important;
            padding: 2rem 3rem !important;
            &.active {
                background-color: $color-primary--2;
            }
        }
        &.item {
            a {
                i {
                    margin-left: 1rem;
                    margin-top: 0 !important;
                }
            }
        }
    }

    li.item {
        &:hover {
            background-color: $color-support--2 !important;
        }
        .customQ-dropdown {
            left: 0;
            top: 5rem;
            padding: 1rem;
            background-color: $color-support--2 !important;
            border: none !important;
            @include boxShadow(none !important);
            a {
                padding: 1rem 2rem !important;
            }
            ul {
                border-bottom: none !important;
                li {
                    display: flex;
                    align-items: center;
                    flex-flow: row-reverse;
                    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1) !important;

                    span {
                        color: $color-secondary--1;
                    }
                    &:hover {
                        background-color: $color-primary--1 !important;
                    }
                }
            }
            .add-queue {
                a:hover {
                    background-color: $color-primary--1;
                }
            }
        }
    }
}

// CONTENT - CONTAINER
#container {
    position: relative;
    padding-bottom: 5vh;
}
#content {
    border-bottom: none !important;
    border: none !important;
    padding: 1rem 3rem 3rem;
    margin-bottom: 3rem;
}

// FOOTER
#footer {
    position: absolute;
    bottom: -5vh;
}

// PAGE TOP SEARCH AREA
#basic_search {
    @include borderRadious(0 !important);
    @include boxShadow(none !important);
    border-bottom: none;
    display: inline-block;
    width: 100%;
    padding: 1rem 2rem;
    min-height: 7rem;
    margin: 0 0 1rem 0 !important;
    & > div {
        height: auto !important;
        min-height: none !important;
    }
    .input.attached.focus {
        outline-offset: 0;
        outline-style: none;
        outline-width: 0;
        outline-color: transparent;
    }
    input[type="text"],
    input[type="search"] {
        margin-right: -1px;
    }
    button.ui-datepicker-trigger {
        margin-left: -1rem;
        margin-right: 3rem;
    }
}

// STICKY BAR
.sticky.bar {
    display: inline-block;
    width: 100%;
    h2 {
        margin: 1rem 0 0 !important;
    }
    .scroll-up {
        top: 100%;
        background-color: $color-primary--1;
        border: none !important;
    }
    .pull-right {
        button,
        input[type="button"],
        input[type="reset"],
        input[type="submit"],
        .button,
        a.popup-dialog,
        .action-button {
            height: 3rem !important;
            line-height: 3rem !important;
            margin-top: 5px;
            i {
                margin-top: 3px !important;
                border-left: none !important;
                padding-top: 3px;
            }
        }
    }
}

// TABS NAVIGATION
ul.tabs,
ul.tabs li {
    @include boxShadow(none !important);
    height: auto !important;
    @include borderRadious(0 !important);
}

ul.tabs {
    padding: 0;
    border-bottom: none !important;
    li {
        border: none !important;
        background-color: transparent;
        a {
            padding: 1.5rem 1rem;
        }
        &.active {
            background-color: $color-dark--2 !important;
            a {
                color: $color-best--1;
                font-weight: normal;
            }
        }
    }
}
