input,
select,
.select2-selection,
textarea,
.redactor-styles {
    padding: 1rem 1rem !important;
    height: 5rem !important;
    outline: none;
    border: 1px solid $color-best--3 !important;
    border-bottom-color: $color-primary--1 !important;
    color: $color-dark--2;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    outline: none !important;

    box-shadow: none !important;
    @include borderRadious(0 !important);
    &:focus {
        border-color: $color-primary--1 !important;
    }
}
input[type="text"],
input[type="email"] {
    min-width: 50%;
}
input[type="tel"],
input[size="5"] {
    min-width: auto;
    width: 25rem;
}
.redactor-styles-on {
    border: none !important;
}
