input,
select,
.select2-selection {
    padding: 1rem 1rem !important;
    height: 5rem !important;
    outline: none;
    border: 1px solid $color-best--3 !important;
    border-bottom-color: $color-primary--1 !important;
    display: block;
    color: $color-dark--2;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    outline: none !important;

    box-shadow: none !important;
    @include borderRadious(0 !important);
    &:focus {
        border-color: $color-primary--1 !important;
    }
}
