.table,
table {
    width: 100%;
    border-collapse: collapse;

    td,
    th {
        padding: 1rem !important;
        vertical-align: middle !important;

        hr {
            display: none;
        }
    }
    td {
        border: 1px solid #e2e5e8 !important;
    }
    th {
        background-color: $color-dark--1 !important;
        color: $color-best--1 !important;
        border: 1px solid rgba($color-best--1, 0.1) !important;
        a,
        p,
        span,
        em {
            color: $color-best--1 !important;
        }
        a.desc,
        a.asc {
            background-color: transparent !important;
        }
    }
}

#ticketTable {
    caption {
        background-color: $color-primary--2;
        color: $color-best--1;
        border: none;
    }
}
