.tip_box {
    .tip_content {
        border: 1px solid $color-best--3;
    }
    table {
        margin-bottom: 1rem;
        th,
        td {
        }
        th {
        }
        td {
        }
    }
    ul.tabs li a {
        padding: 1rem;
    }
    hr {
        display: none;
    }
    .tip_menu {
        border-top: none;
    }
}
